In [21]:
shopping = ['spam', 'ham', 'eggs', 'ham']

In [16]:
shopping

['spam', 'ham', 'eggs', 'ham']

In [22]:
del(shopping[1])

In [18]:
shopping

['spam', 'eggs', 'ham']

In [25]:
del(shopping[0:2])

In [26]:
shopping

['ham']

In [27]:
del(shopping[0])

In [28]:
shopping

[]

In [55]:
stops = ["Croy", "Cumbernauld", "Falkirk High", "Linlithgow", "Livingston", "Haymarket"]

In [56]:
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket']

In [57]:
stops.append("Edinburgh Waverly")

In [44]:
stops

['Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverly']

In [58]:
stops.insert(0, "Queen Street")

In [46]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverly']

In [59]:
print("At index 1:", stops[1])

At index 1: Croy

In [60]:
stops.insert(4, "Polmont")

In [50]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket',
 'Edinburgh Waverly']

In [61]:
del(stops[8])

In [52]:
stops

['Queen Street',
 'Croy',
 'Cumbernauld',
 'Falkirk High',
 'Polmont',
 'Linlithgow',
 'Livingston',
 'Haymarket']

In [62]:
del(stops[0:8])

In [63]:
stops

[]

In [64]:
person = {"name": "Steph", "age": 31, "Instructor" : True}

In [65]:
person.keys()

dict_keys(['name', 'age', 'Instructor'])

In [66]:
person.values()

dict_values(['Steph', 31, True])

In [67]:
person.items()

dict_items([('name', 'Steph'), ('age', 31), ('Instructor', True)])

In [74]:
person["Email"] = "steph@codeclan.com"

In [75]:
person

{'name': 'Steph', 'age': 31, 'Instructor': True, 'Email': 'steph@codeclan.com'}

In [76]:
del(person["Instructor"])

In [77]:
person

{'name': 'Steph', 'age': 31, 'Email': 'steph@codeclan.com'}

In [91]:
numbers = [1, 6, 2, 2, 7, 1, 6, 13, 99, 7]

In [79]:
even_numbers = []
for num in numbers:
    if num % 2 == 0:
        even_numbers.append(num)

print(even_numbers)

[6, 2, 2, 6]

In [93]:
difference = max(numbers) - min(numbers)

print(difference)

98

In [82]:
for i in range(len(numbers)-1):
    if numbers[i] == 2 and numbers[i+1] == 2:
        print(True)
        break
else:
    print(False)

True

In [96]:

for num in numbers:
    if num == 6:
        ignore = True
    elif num == 7:
        ignore = False
    elif not ignore:
        total += num

print(total)

4

In [98]:
python_is_fun = True
python_is_weird = True

if python_is_fun or python_is_weird:
    print("Woo Python!")
else:
    print("Python is not for me!")

Woo Python!

In [100]:
python_is_fun = False
python_is_weird = False

if python_is_fun or python_is_weird:
    print("Woo Python!")
else:
    print("Python is not for me!")

Python is not for me!

In [101]:
python_is_fun = False
python_is_weird = True

if python_is_fun or python_is_weird:
    print("Woo Python!")
else:
    print("Python is not for me!")

Woo Python!

In [102]:
python_is_fun = True
python_is_weird = False

if python_is_fun or python_is_weird:
    print("Woo Python!")
else:
    print("Python is not for me!")

Woo Python!

In [103]:
def collect_eggs(chickens):
    total_eggs = 0

    for chicken in chickens:
        total_eggs += chicken["eggs"]
        chicken["eggs"] = 0 # eggs have been collected

    return f"{total_eggs} eggs collected"

In [104]:
chickens = [
  { "name": "Margaret", "age": 2, "eggs": 0 },
  { "name": "Hetty", "age": 1, "eggs": 2 },
  { "name": "Henrietta", "age": 3, "eggs": 1 },
  { "name": "Audrey", "age": 2, "eggs": 0 },
  { "name": "Mabel", "age": 5, "eggs": 1 },
]

result = collect_eggs(chickens)
print(result)

4 eggs collected

In [105]:
united_kingdom = [
  {
    "name": "Scotland",
    "population": 5295000,
    "capital": "Edinburgh"
  },
  {
    "name": "Wales",
    "population": 3063000,
    "capital": "Swansea"
  },
  {
    "name": "England",
    "population": 53010000,
    "capital": "London"
  }
]

In [106]:
for country in united_kingdom:
    if country["name"] == "Wales":
        country["capital"] = "Cardiff"

In [107]:
united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'}]

In [108]:
northern_ireland = {
    "name": "Northern Ireland",
    "population": 1811000,
    "capital": "Belfast"
}

united_kingdom.append(northern_ireland)

In [109]:
united_kingdom

[{'name': 'Scotland', 'population': 5295000, 'capital': 'Edinburgh'},
 {'name': 'Wales', 'population': 3063000, 'capital': 'Cardiff'},
 {'name': 'England', 'population': 53010000, 'capital': 'London'},
 {'name': 'Northern Ireland', 'population': 1811000, 'capital': 'Belfast'}]

In [110]:
for country in united_kingdom:
    print(country["name"])

Scotland
Wales
England
Northern Ireland

In [112]:
total_population = 0

for country in united_kingdom:
    total_population += country["population"]

print("Total population of the UK:", total_population)

Total population of the UK: 63179000